body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    background-color: yellow;
}

.top {
    margin: 0;
    height: 50%;
    background-color: lightgreen;
    padding: 20px;
    line-height: 1;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
}

.bottom-half {
    display: inline-block;
}

.bottom-left {
    margin: 0;
    background-color: rgb(90, 90, 252);
    width: 50%;
    height: 45%;
    float: left;
}

.bottom-right {
    margin: 0;
    background-color: rgb(250, 121, 121);
    width: 50%;
    height: 45%;
    float: right;
}

.footer {
    margin: auto;
    height: 5%;
}
.attribution {
    font-size: 11px; text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: normal;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    font-family: 'Montserrat', sans-serif;
    text-decoration: normal;
    font-size: 11px; text-align: center;
}